<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <form
      method="POST"
      action="/listings"
      class="needs-validation"
      enctype="multipart/form-data"
      novalidation
    >
      <br />
      <h2>Add new list</h2>
      <div>
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a catchy title"
          type="text"
          class="form-control"
          required
        />
      </div>
      <div>
        <label for="description" class="form-label mt-3">Description</label>
        <textarea
          name="listing[description]"
          placeholder="Enter descripsion"
          type="text"
          class="form-control"
          required
        ></textarea>
      </div>
      <div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Image </label>
          <input
            name="listing[image]"
            type="file"
            class="form-control"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <div>
            <label for="price" class="form-label mt-3">Price</label>
            <input
              name="listing[price]"
              placeholder="1200"
              type="text"
              class="form-control"
            />
          </div>
        </div>
        <div class="mb-3 col-md-8">
          <div>
            <label for="country" class="form-label mt-3">County</label><br />
            <input
              name="listing[country]"
              placeholder="India, UK"
              type="text"
              class="form-control"
              required
            />
          </div>
        </div>
        <div>
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            placeholder="Enter location"
            type="text"
            class="form-control"
            required
          />
        </div>
      </div>

      <button class="btn btn-dark add-btn mt-4">Add</button>
      <br /><br />
    </form>
  </div>
</div>

<script src="/public/js/script.js"></script>
